.sectionContainer {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 0 auto;
  padding: 65px 15px;
  max-height: 580px;
  max-width: 1170px;
}

.image {
  border-radius: 5px;
  background-image: url(../../assets/home/section3image.jpg);
  background-position: 69% 80%;
  background-size: 270%;
  left: 1%;
  bottom: 25%;
  height: 65.6%;
  width: 29.3%;
  max-height: 400px;
  position: absolute;
}

.textContainer {
  display: flex;
  justify-content: center;
  padding: 45px 0 45px 0;
  border-radius: 5px;
  background-color: #222222;
  width: 80%;
  color: #f9f9f9;
}

.text {
  width: 80%;
  margin-left: 11rem;
  padding: 0 182px;
}

.text h2 {
  font-size: 2.8125rem; /* 45px */
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.text p {
  margin-bottom: 10px;
}

@media (max-width: 1090px) {
  .text {
    padding: 0 50px;
  }
}

@media (max-width: 768px) {
  .sectionContainer {
    flex-direction: column;
    max-height: none;
    padding: 65px 0;
  }

  .image {
    top: 0;
    left: 0;
    height: 450px;
    width: 100%;
    position: relative;
    border-radius: 0;
    background-position: 75% 48%;
    background-size: 200%;
  }

  .textContainer {
    display: block;
    border-radius: 0;
    width: 100%;
  }

  .text {
    margin: 0;
    width: 70%;
  }
}
